.profile {
  position: relative;
  top: -8.4rem;
  width: 100%;
  z-index: 0;
  .wallpaper {
    background-image: url(../../images/code1.jpg);
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 600px;
  }
  .dark {
    width: 100%;
    height: 600px;
    background-color: hsla(0, 0%, 0%, 0.6);
    position: absolute;
    top: 0;
    left: 0;
  }
  .box {
    position: relative;
    margin-top: -40rem;
    padding: 0;
    background-color: white;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    .info {
      padding: 5rem;

      &__data {
        > span {
          background-color: #0098d3;
          font-weight: bold;
          color: white;
          padding: 0.5rem 1rem;
          border-radius: 4px;
        }
        > p:first-of-type {
          margin: 1rem 0 0 0;
          font-weight: 600;
          font-size: 3.5rem;
        }

        > p:last-of-type {
          font-size: 1.5rem;
        }

        .more-info {
          .item {
            display: flex;

            p {
              &:first-of-type {
                width: 25%;
                font-weight: bold;
                text-transform: uppercase;
              }
              &:last-of-type {
                width: 75%;
                color: #a2a2a2;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}
