body {
  background-color: #d0d0d5;
}
.proyect__container {
  background-color: #d0d0d5;
  margin-bottom: 7rem;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;

  h1 {
    color: rgb(10, 10, 35);
    margin: 50px 0 30px 0;
    font-weight: bold;
  }
  .ctner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .project {
    width: 45rem;
    height: fit-content;
    margin: 2rem;
    @media (max-width: 450px) {
      width: 100vw;
    }

    .image {
      border-start-start-radius: 20px;
      border-start-end-radius: 20px;
      margin: 5rem 5rem 0 5rem;
      height: 20rem;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .Card-Body {
      border: solid 3px rgb(10, 10, 35);
      background-color: white;

      h2 {
        color: #0a0a23;
        font-weight: bold;
      }
      p {
        font-size: 1.2rem;
      }
    }
    a {
      text-align: center;
      button {
        border-radius: 5px;
        font-size: 1.5rem;
        font-weight: bold;
        border: solid 3px rgb(10, 10, 35);
        background-color: #d0d0d5;
        color: rgb(10, 10, 35);
        width: 44%;
        margin: 0 1rem;
        &:hover {
          background-color: rgb(10, 10, 35);
          color: #d0d0d5;
        }
      }
    }
  }
}

footer {
  padding-right: 5rem;
  position: fixed;
  bottom: 0px;
  color: #d0d0d5;
  width: 100%;
  background-color: rgb(10, 10, 35);
  height: 85px;
  display: flex;
  justify-content: right;
  align-items: center;
}
