.about-me {
  background-color: white;

  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  padding: 4rem 4rem 2.5rem 4rem;
  text-align: center;
  margin-bottom: 5rem;

  p {
    text-align: justify;
    font-size: 1.4rem;
  }

  button {
    text-transform: uppercase;
    background-color: #0098d3;
    border-color: #0098d3;
    padding: 1rem;
  }
}
